// Discord Bot for zeromod by sata.
// Modify this config file first before running the Discord bot.
// Uncomment the options/settings given below and configure them according to your discord application credentials. The values set are just sample values for reference.
// showservercommands option/setting is optional. When uncommented/enabled (set to 1), server commands executed by players on sauerbraten server will be visible on discord. You probably want to keep this commented/disabled for privacy reasons.


// discordbot_token "AcGxMDU69jA1ODIxM.M4NjMz_X1_kZA_nLOIqu_LS4gTL.xDxEVPKlM86P"
// discordchannel_id "690091180903825469"
// discordfifo_name "fifo"
// sauer_server_log_filename "log"
// showservercommands 1
